appdirs==1.4.4
Babel==2.15.0
beautifulsoup4==4.12.3
certifi==2024.6.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
cryptography==42.0.8
docxcompose==1.4.0
docxtpl==0.17.0
et-xmlfile==1.1.0
frozendict==2.4.4
html5lib==1.1
idna==3.7
Jinja2==3.1.4
lxml==5.2.2
MarkupSafe==2.1.5
multitasking==0.0.11
numpy==2.0.0
openpyxl==3.1.4
pandas==2.2.2
peewee==3.17.5
platformdirs==4.2.2
pycparser==2.22
python-dateutil==2.9.0.post0
python-docx==1.1.2
pytz==2024.1
requests==2.32.3
six==1.16.0
soupsieve==2.5
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
webencodings==0.5.1
xlrd==2.0.1
yfinance==0.2.40
